.markdown{
	margin-top: 10px;
	padding: 10px;
	font-size: 16px;
}

.markdown code{
	border: 1px solid #ddd;
	background: #f6f6f6;
	padding: 3px;
	border-radius: 3px;
	font-size: 14px;
	color: #e83e8c;
}

.markdown p{
	margin-top: 0;
	margin-bottom: 10px;
}

.markdown h3,h4,h5,h6{
	margin-top: 2rem!important;
	margin-bottom: .5rem!important;
	font-weight: 600;
	line-height: 1.2;
}

.markdown h2{
	font-size: 2rem;
	margin-top: 1.2em;
	margin-bottom: 0.6em;
	padding-bottom: 6px;
	border-bottom: 1px solid lightgrey;
}

.markdown ul{
	margin-top: 6px;
	display: block;
	list-style-type: disc;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.markdown ol{
	margin-top: 6px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.markdown li{
	margin-bottom: 6px;
}

.markdown pre{
	display: block;
	white-space: pre;
	margin: 0;
}

/* table 样式 */
.markdown table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.markdown table td,
.markdown table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}
.markdown table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}

/* blockquote 样式 */
.markdown blockquote {
  display: block;
  border-left: 8px solid #d0e5f2;
  padding: 5px 10px;
  margin: 10px 0;
  line-height: 1.4;
  font-size: 100%;
  background-color: #f1f1f1;
}

.toc{
	padding-top: 10px;
	border-left: 1px solid lightgrey;
	font-size: 14px;
}

.toc a{
	color: #515a6e!important;
	display: block;
	line-height: 28px;
	transition: all .1s ease;
}

.toc a:hover{
	color: #2d8cf0!important;
	font-size: 18px;
}

.toc ul{
	list-style-type: none;
	padding: initial;
	display: block;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 20px;
}

.toc li{
	/* margin-top: 10px; */
}
