
/*-----------------------------------------------------------------------------------*/
/* 1 - COMMON
/* 2 - HOVER EFFECT
/* 3 - HEADER
/* 4 - BUTTONS
/* 5 - SECTIONS
/* 6 - TEAM
/* 7 - TESTIMONIALS
/* 8 - CALL TO ACTION
/* 9 - FOOTER
/* 10 - WIDGETS
/* 11 - TABS
/* 12 - SPLASH
/* 13 - RESPONSIVE
/* 14 - BACK TO TOP
/* 15 - FEATURE BOXES
/* 16 - SIDE MENU
/*-----------------------------------------------------------------------------------*/

.accent-alt {
    color: #292929;
}

/*-----------------------------------------------------------------------------------*/
/* 1 - COMMON
/*-----------------------------------------------------------------------------------*/
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 2.028571429;
    background-color: #fff;
    font-weight: 500;
    overflow-x: hidden;
}
.container{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#master-wrapper {
    overflow: hidden;
    background: #f5f5f5;
}

.bottom-frame, .top-frame {
    background-color: #fff;
    top: 0;
    width: 100%;
    left: 0;
    height: 30px;
    position: fixed;
    z-index: 9999;
}

.bottom-frame {
    bottom: 0;
    top: auto;
}

.smoothie {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

a, a:hover {
    color: #F64747;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway',serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
*/
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 1.1em;
} 
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
span.typcn::before,i.typcn::before {
    font-size: 2em;
}

span.x2:before,i.x2:before {
    font-size: 3.4em;
}

span.x3:before,i.x3:before {
    font-size: 4.4em;
}

span.x4:before,i.x4:before {
    font-size: 6em;
}

.fullheight {
    min-height: 600px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb60 {
    margin-bottom: 80px !important;
}

.mb90 {
    margin-bottom: 120px !important;
}

.mt0 {
    margin-top: 0;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.pt60 {
    padding-top: 60px;
}

/*-----------------------------------------------------------------------------------*/
/* 3 - HEADER
/*-----------------------------------------------------------------------------------*/

.logo {
    background: none;
    border: 0;
}

.text-center{
	text-align: center;
}

.nav-wrapper {
    /*
    background: #B24592;
    background: -webkit-linear-gradient(to left, #B24592 , #F15F79);
    background: linear-gradient(to left, #B24592 , #F15F79);   
    */
    background-image: url(../img/yx6.jpg);  
    background-size: cover;   
    position: relative;
    width: 100%;
    z-index: 10;   
    left: 0;
    padding: 0 30px;
    margin-bottom: 0;
    border-radius: 0
}

.nav-wrapper.scrolled .nav-inner {
    background-color: transparent;
}

.nav-wrapper.scrolled .nav-inner {
    background-color: #fff;
}

.pushy-right-side .nav-wrapper.scrolled {
    padding-bottom: 24px;
}

.nav-wrapper.scrolled .navbar-nav>li>a, .nav-wrapper.scrolled .navbar-nav * {
    color: #222;
}

.top-navigation .navbar-nav >li > a, .pushy a {
    font-family: 'Raleway';
    color: #eee;
    font-weight: 400;
    padding: 20px 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
}

.nav>li>a:hover {
    background-color: transparent;
    color: #fff;
}

.nav>li>a:focus {
    background-color: transparent;
    color: #fff; 
}

.dropdown-menu {
    padding: 0;
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    background: rgba(255,255,255,0.9);
    margin-top: 1px !important;
}

.dropdown-menu>li>a {
    display: block;
    padding: 12px 14px;
    clear: both;
    font-weight: 700;
    line-height: 1.42857143;
    color: #444;
    white-space: nowrap;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

.regular-navigation .nav-wrapper {
    background-color: #fff;
    position: relative;
    width: 100%;
    z-index: 9999;
}

.regular-navigation .navbar-nav >li > a {
    font-family: 'Lato';
    color: #333;
    font-weight: 700;
    padding: 25px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

img.logo {
    max-height: 55px;
    margin: 50px auto 0px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 0px;
    background: #fff;
}

.navbar-toggle {
    padding: 0px 10px 13px;
    margin-top: 0;
}


textarea.form-control {
    min-height: 250px
}


/*-----------------------------------------------------------------------------------*/
/*  13 - RESPONSIVE
/*-----------------------------------------------------------------------------------*/
@media all and (min-width: 1400px){
	.container {
	    width: 1400px;
	}
}
@media all and (min-width: 1200px) and (max-width: 1400px) {
        .container {
            width: 1200px;
        }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
	.container {
	    width: 900px;
	}
}

@media all and (min-width: 769px) and (max-width: 991px) {
	.container {
	    width: 700px;
	}
    .top-navigation .navbar-nav >li > a {
        padding: 25px 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
    }
}

@media all and (min-width: 768px) {
    .navbar-center {
        width: 100%;
    }
    .navbar-center > li {
        float: none;
        display: inline-block;
    }
}

@media (max-width: 768px) {
    body {
        padding: 0;
    }
		.container {
		    width: 80%;
		}
    .nav-wrapper, .nav-wrapper.scrolled {
        padding: 0;
        top: 0;
    }
    
    img.logo {
        margin-top: 24px;
    }
}

/*-----------------------------------------------------------------------------------*/
/* 16 - SIDE MENU
/*-----------------------------------------------------------------------------------*/
@media all and (min-width: 1400px) {
    .container {
        width: 1400px;
    }
    
}
/* TOp BAR */
.top-bar-avatar{
			text-align: right;
}
.top-bar {
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    padding: 10px 0 9px;
}

.top-bar ul {
    margin-bottom: 0;
}

.top-bar .secondary-menu a {
    font-size: 11px;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 0 5px;
    text-decoration: none;
}

.top-bar .secondary-menu a:hover {
    text-decoration: none;
}

.top-bar a {
    color: #fff;
}

@media all and (min-width: 768px) {
    .nav-wrapper {
        padding-top: 50px;
    }
}


@media all and (min-width: 769px) {
    .nav-wrapper {
        padding-top: 90px;
    }
    .regular-nav.top-navigation .navbar-nav >li > a {
        padding: 33px 17px
    }
    .regular-nav img.logo {
        max-height: 50px;
        margin: 15px 0 0;
    }
    
}

@media all and (max-width: 768px) {
    .regular-nav .navbar-toggle {
        float: right;
        margin: 21px 0;
    }
    .regular-nav img.logo {
        float: left;
        margin-top: 9px;
    }
    .navbar-collapse {
        clear: both;
    }
    .dropdown-menu>li>a {
        color: #eee;
    }
}