<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<link href="/frontend/static/css/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/frontend/static/css/header.css">
		<link rel="stylesheet" type="text/css" href="/frontend/static/css/scrollbar.css">
		<!-- 开发环境配置 -->
		<link rel="stylesheet" type="text/css" href="/frontend/static/css/iview.css">
		<script src="/frontend/static/js/vue.js"></script>
		<script type="text/javascript" src="/frontend/static/js/iview.min.js"></script>
		<!-- 生产环境配置 -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
		<link rel="stylesheet" href="//unpkg.com/view-design/dist/styles/iview.css">
		<script src="//unpkg.com/view-design/dist/iview.min.js"></script> -->
		
		<script src="/frontend/static/js/axios.min.js"></script>
		<script src="/frontend/static/js/axios_baseurl.js"></script>
		
		<div id="header" class="nav-wrapper smoothie" :style='{"background-image":"url("+imgsHeader[indexImg]+")","padding-top":"0px"}'>
			<row type="flex" align="middle">
				<i-col span="5">
					<a href="/" class="logo">
						<img src="/frontend/static/img/logo6.PNG" height="70px"/>
					</a>
				</i-col>
				<i-col span="11">
					<i-menu mode="horizontal" theme="dark" class="head-menu">
						<menu-item name="article" to="/article/list/" class="head-menu-item" style="padding: 0 10px;">
							<icon type="ios-paper"></icon>文章笔记
						</menu-item>
						<menu-item name="series" to="/article/series/list/" class="head-menu-item" style="padding: 0 10px;">
							<icon type="ios-book"></icon>系列专题
						</menu-item>
					</i-menu>
				</i-col>
				<i-col span="8" class="head-avatar">
					<dropdown @on-click="dropdownClick">
						<a href="javascript:void(0)">
							<badge :dot="messages.length>0">
								<avatar icon="ios-person" :src="user.avatar" size="large"/>
							</badge>
						</a>
						<dropdown-menu slot="list" class="text-center">
							<dropdown-item name="login_register" v-if="!loginStatus">登录/注册</dropdown-item>
							<dropdown-item name="add_article" v-if="loginStatus && user.is_superuser">写文章</dropdown-item>
							<dropdown-item name="message" v-if="loginStatus">消息 <badge :count="messages.length"></badge></dropdown-item>
							<dropdown-item name="change_avatar" v-if="loginStatus">修改头像</dropdown-item>
							<dropdown-item name="logout" v-if="loginStatus">退出登录</dropdown-item>
						</dropdown-menu>
					</dropdown>
				</i-col>
			</row>
			
			<Modal v-model="loginModal" width="500">
				<tabs value="name1">
					<tab-pane label="登录" name="name1">
						<i-form ref="userLoginForm" :model="userForm" :rules="ruleUserLogin" inline>
							<form-item prop="username">
								<i-input v-model="userForm.username" type="text" placeholder="用户名" style="width: 222px;">
									<icon type="ios-person-outline" slot="prepend"></icon>
								</i-input>
							</form-item>
							<form-item prop="password">
								<i-input v-model="userForm.password" type="password" placeholder="密码" style="width: 222px;" v-on:keyup.enter.native="userLogin">
									<icon type="ios-lock-outline" slot="prepend"></icon>
								</i-input>
							</form-item>
						</i-form>
						<i-button type="primary" long style="margin-top: 5px;" :loading="loadingStatus" @click="userLogin">登录</i-button>
						<divider style="margin-top: 50px;color: #808695; font-size: 14px;">第三方登录</divider>
						<div style="text-align: center; margin-top: 50px;height: 70px;display: flex;">
							<div style="margin: auto;display: flex;"> 
								<a style="color:#333333;" @click="githubLogin">
									<icon type="logo-github" size="70"></icon>
								</a>
								<a @click="qqLogin">
									<img src="/frontend/static/img/qqlogo.jpg" height="70px" />
								</a>
							</div>
						</div>
						<spin fix v-show="spin_show">
							<icon type="ios-loading" size=30 style="animation: ani-demo-spin 1s linear infinite;"></icon>
						</spin>
						<div style="color: #808695; font-size: 14px;width: 100%;padding: 10px;text-align: center;">推荐使用QQ登录</div>
					</tab-pane>
					<tab-pane label="注册" name="name2">
						<i-form ref="user" :model="userForm" :rules="ruleUser" :label-width="100">
							<form-item label="用户名：" prop="username">
								<i-input v-model="userForm.username"></i-input>
							</form-item>
							<form-item label="密码：" prop="password">
								<i-input type="password" v-model="userForm.password"></i-input>
							</form-item>
							<form-item label="确认密码：" prop="password2">
								<i-input type="password" v-model="userForm.password2"></i-input>
							</form-item>
							<form-item label="头像：" prop="avatar">
								<upload v-model="userForm.avatar"	:before-upload="handleUpload"	action="">
									<avatar icon="ios-person" size="100" shape="square" style="cursor: pointer;" :src="avatarURL"/>
								</upload>
								<span style="color: #808695;">请上传jpg或png格式的图片，大小不超过100KB</span>
							</form-item>
							<form-item>
								<i-button type="primary" @click="handleSubmit('user')" v-on:keyup.enter="handleSubmit('user')" :loading="loadingStatus">提交</i-button>
								<i-button @click="handleReset('user')" style="margin-left: 8px">重置</i-button>
							</form-item>
						</i-form>
					</tab-pane>
				</tabs>
				<div slot="footer"></div>
			</Modal>
			
			<Modal v-model="avatarModal" width="400">
				<i-form ref="editAvatar" :model="user" :rules="ruleEditAvatar" style="text-align: center;">
					<form-item prop="avatar" style="margin-top: 20px;">
						<upload v-model="user.avatar" :before-upload="handleAvatarUpload"	action="">
							<avatar icon="ios-person" size="150" shape="square" style="cursor: pointer;" :src="avatarURL"/>
						</upload>
						<span style="color: #808695;">请上传jpg或png格式的图片，大小不超过100KB</span>
					</form-item>
				</i-form>
				<i-button type="primary" long style="margin-top: 5px;" :loading="loadingStatus" @click="handleAvatarSubmit" v-on:keyup.enter="handleAvatarSubmit">确认修改</i-button>
				<div slot="footer"></div>
			</Modal>
			
			<Modal v-model="messageModal" :title="'消息('+messages.length+')'" width="500">
				<list size="small" style="height: 300px;" class="scrollbar" v-if="messages.length>0">
					<list-item v-for="message in messages" :key="message.id" >
						<row style="width: 100%;">
							<i-col span="18">
								<span style="background-color: #eee;padding: 3px;border-radius: 5px;" v-text="message.user__username"></span>&nbsp;在文章
								<a @click="toArticle(message.article,message.id)" v-text="message.article__title"></a>&nbsp;中
								<span v-text="message.to_user==null?'评论':'回复'"></span>了<span v-text="message.to_user==user.id||message.to_user==null?'你':message.to_user__username"></span>
							</i-col>
							<i-col span="6" style="text-align: right;padding-right: 10px;font-size: 12px;color: #808695;"><span v-text="time_clean(message.create_datetime)"></span></i-col>
						</row>
					</list-item>
				</list>
				<div style="width: 100%; height: 100%; color: #808695; text-align: center;vertical-align: middle;" v-if="messages.length==0">暂时没有未读消息</div>
				<div slot="footer">
					<i-button @click="setAllRead">全部标为已读</i-button>
				</div>
			</Modal>
		</div>
		
		<script src="/frontend/static/js/header.js"></script>
	</body>
</html>
