<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>XSite</title>
		<link rel="shortcut icon" href="/frontend/static/img/favicon.ico" />
		<link rel="bookmark" href="/frontend/static/img/favicon.ico" />
		<link href="/frontend/static/css/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/frontend/static/css/scrollbar.css">
		<!-- 开发环境配置 -->
		<!-- <link rel="stylesheet" type="text/css" href="/frontend/static/css/iview.css">
		<script src="/frontend/static/js/vue.js"></script>
		<script type="text/javascript" src="/frontend/static/js/iview.min.js"></script> -->
		<!-- 生产环境配置 -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
		<link rel="stylesheet" href="//unpkg.com/view-design/dist/styles/iview.css">
		<script src="//unpkg.com/view-design/dist/iview.min.js"></script>
		
		<script src="/frontend/static/js/axios.min.js"></script>
		<script src="/frontend/static/js/axios_baseurl.js"></script>
	</head>
	<style>
		.top-bar-avatar{
			text-align: right;
		}
		.head-menu{
			background: transparent;
			display: inline-block;
			
		}
		.head-menu-item{
			font-size: 18px;
		}
		.series-card{
			background-repeat: no-repeat;
			background-size: 100% 100%;
			width: 100%;
			height: 255px;
			display: inline-flex;
			font-weight: bold;
			color:#fff;
			cursor: pointer;
			border-radius: 5px;
			transition:All 0.2s ease-in-out;
			-webkit-transition:All 0.2s ease-in-out;
			-moz-transition:All 0.2s ease-in-out;
			-o-transition:All 0.2s ease-in-out;
		}
		.series-card:hover{
			box-shadow: 0 5px 20px #888;
			text-shadow: 0px 3px 5px #333;
			transform:scale(1.02);
			-webkit-transform:scale(1.02);
			-moz-transform:scale(1.02);
			-o-transform:scale(1.02);
			-ms-transform:scale(1.02);
		}
		.series-menu{
			width: 100px;
			display: block;
			padding-left: 10px;
			line-height: 30px;
			background-color: rgba(255,255,255,0.2);
			opacity: 0.9;
			position: absolute;
			margin-top: 20px;
			color: #eee;
			font-size: 14px;
			font-weight: 500;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: none;
		}
		.series-card:hover .series-menu{
			display: block;
		}
	</style>

	<body>
		<div style="background-color: #f5f7f9">
			<layout>
				<header id="header" class="navbar nav-wrapper smoothie" :style="{backgroundImage: 'url('+imgsHeader[indexImg]+')'}">
					<div class="top-bar">
						<div class="container">
							<row>
								<i-col span="24" class="top-bar-avatar">
									<dropdown @on-click="dropdownClick">
										<a href="javascript:void(0)">
											<badge :dot="messages.length>0">
												<avatar icon="ios-person" :src="user.avatar" size="large"/>
											</badge>
										</a>
										<dropdown-menu slot="list" class="text-center">
											<dropdown-item name="login_register" v-if="!loginStatus">登录/注册</dropdown-item>
											<dropdown-item name="add_article" v-if="loginStatus && user.is_superuser">写文章</dropdown-item>
											<dropdown-item name="message" v-if="loginStatus">消息 <badge :count="messages.length"></badge></dropdown-item>
											<dropdown-item name="change_avatar" v-if="loginStatus">修改头像</dropdown-item>
											<dropdown-item name="logout" v-if="loginStatus">退出登录</dropdown-item>
										</dropdown-menu>
									</dropdown>

								</i-col>
							</row>
						</div>
					</div>
					<div class="container">
						<row>
							<i-col span="24" class="text-center mb30 mt30">
								<a href="/" class="logo">
									<img src="/frontend/static/img/logo6.PNG" />
								</a>
							</i-col>
						</row>
						<row>
							<i-col span="24" class="text-center">
								<i-menu mode="horizontal" theme="dark" class="head-menu">
									<menu-item name="article" to="/article/list/" class="head-menu-item">
										<icon type="ios-paper"></icon>文章笔记
									</menu-item>
									<menu-item name="series" to="/article/series/list/" class="head-menu-item">
										<icon type="ios-book"></icon>系列专题
									</menu-item>
								</i-menu>
							</i-col>
						</row>
					</div>

					<Modal v-model="loginModal" width="500">
						<tabs value="name1">
							<tab-pane label="登录" name="name1">
								<i-form ref="userLoginForm" :model="userForm" :rules="ruleUserLogin" inline>
									<form-item prop="username">
										<i-input v-model="userForm.username" type="text" placeholder="用户名" style="width: 222px;">
											<icon type="ios-person-outline" slot="prepend"></icon>
										</i-input>
									</form-item>
									<form-item prop="password">
										<i-input v-model="userForm.password" type="password" placeholder="密码" style="width: 222px;"
										 v-on:keyup.enter.native="userLogin">
											<icon type="ios-lock-outline" slot="prepend"></icon>
										</i-input>
									</form-item>
								</i-form>
								<i-button type="primary" long style="margin-top: 5px;" :loading="loadingStatus" @click="userLogin">登录</i-button>
								<divider style="margin-top: 50px;color: #808695; font-size: 14px;">第三方登录</divider>
								<div style="text-align: center; margin-top: 50px;height: 70px;display: flex;">
									<div style="margin: auto;display: flex;"> 
										<a style="color:#333333;" @click="githubLogin">
											<icon type="logo-github" size="70"></icon>
										</a>
										<a @click="qqLogin">
											<img src="/frontend/static/img/qqlogo.jpg" height="70px" />
										</a>
									</div>
								</div>
								<spin fix v-show="spin_show">
									<icon type="ios-loading" size=30 style="animation: ani-demo-spin 1s linear infinite;"></icon>
								</spin>
								<div style="color: #808695; font-size: 14px;width: 100%;padding: 10px;text-align: center;">推荐使用QQ登录</div>
							</tab-pane>
							<tab-pane label="注册" name="name2">
								<i-form ref="user" :model="userForm" :rules="ruleUser" :label-width="100">
									<form-item label="用户名：" prop="username">
										<i-input v-model="userForm.username"></i-input>
									</form-item>
									<form-item label="密码：" prop="password">
										<i-input type="password" v-model="userForm.password"></i-input>
									</form-item>
									<form-item label="确认密码：" prop="password2">
										<i-input type="password" v-model="userForm.password2"></i-input>
									</form-item>
									<form-item label="头像：" prop="avatar">
										<upload v-model="userForm.avatar" :before-upload="handleUpload" action="">
											<avatar icon="ios-person" size="100" shape="square" style="cursor: pointer;" :src="avatarURL" />
										</upload>
										<span style="color: #808695;">请上传jpg或png格式的图片，大小不超过100KB</span>
									</form-item>
									<form-item>
										<i-button type="primary" @click="handleSubmit('user')" v-on:keyup.enter="handleSubmit('user')" :loading="loadingStatus">提交</i-button>
										<i-button @click="handleReset('user')" style="margin-left: 8px">重置</i-button>
									</form-item>
								</i-form>
							</tab-pane>
						</tabs>
						<div slot="footer"></div>
					</Modal>

					<Modal v-model="avatarModal" width="400">
						<i-form ref="editAvatar" :model="user" :rules="ruleEditAvatar" style="text-align: center;">
							<form-item prop="avatar" style="margin-top: 20px;">
								<upload v-model="user.avatar" :before-upload="handleAvatarUpload" action="">
									<avatar icon="ios-person" size="150" shape="square" style="cursor: pointer;" :src="avatarURL" />
								</upload>
								<span style="color: #808695;">请上传jpg或png格式的图片，大小不超过100KB</span>
							</form-item>
						</i-form>
						<i-button type="primary" long style="margin-top: 5px;" :loading="loadingStatus" @click="handleAvatarSubmit"
						 v-on:keyup.enter="handleAvatarSubmit">确认修改</i-button>
						<div slot="footer"></div>
					</Modal>
			
					<Modal v-model="messageModal" :title="'消息('+messages.length+')'" width="500">
						<list size="small" style="height: 300px;" class="scrollbar" v-if="messages.length>0">
							<list-item v-for="message in messages" :key="message.id" >
								<row style="width: 100%;">
									<i-col span="18">
										<span style="background-color: #eee;padding: 3px;border-radius: 5px;" v-text="message.user__username"></span>&nbsp;在
										<a @click="toArticle(message.article,message.id)" v-text="message.article__title"></a>&nbsp;中
										<span v-text="message.to_user==null?'评论':'回复'"></span>了<span v-text="message.to_user==user.id||message.to_user==null?'你':message.to_user__username"></span>
									</i-col>
									<i-col span="6" style="text-align: right;padding-right: 10px;font-size: 12px;color: #808695;"><span v-text="time_clean(message.create_datetime)"></span></i-col>
								</row>
							</list-item>
						</list>
						<div style="width: 100%; height: 100%; color: #808695; text-align: center;vertical-align: middle;" v-if="messages.length==0">暂时没有未读消息</div>
						<div slot="footer">
							<i-button @click="setAllRead">全部标为已读</i-button>
						</div>
					</Modal>
				</header>
				
				<script src="/frontend/static/js/header.js"></script>

				<div id="index">
					<layout>
						<i-content class="container" :style="{minHeight: bodyMinHeight+'px'}">
							<div id="motto" class="mt30 mb30 motto" style="min-height: 180px;">
								<row>
									<i-col span="24" style="font-size: 30px;font-weight: bold;text-align: center;">
										<span v-text="mottos.length>0?mottos[indexMottos].mottoList[indexMottoList]:'每一天，遇见更好的自己'"></span>
									</i-col>
								</row>
								<row>
									<i-col span="24" style="font-size: 16px;font-style: italic;text-align: center">
										——<span v-text="mottos.length>0?mottos[indexMottos].name:'许世彪'"></span>
									</i-col>
								</row>
							</div>
						
							<div id="latest_article" style="padding-bottom: 40px;">
								<row class="mb10">
									<i-col :xs="12" :sm="8" :md="7" :lg="6" :xl="5" style="border-bottom: 3px solid #15cde1;font-size: 35px;">
										最新文章
									</i-col>
									<i-col span="2" offset="15" style="padding-top: 20px;">
										<i-button shape="circle" @click="article_list">
											更多<icon type="ios-arrow-forward" size="16"></icon>
										</i-button>
									</i-col>
								</row>
								<row class="mb10">
									<i-col :xs="23" :sm="23" :md="11" :lg="11" :xl="7" style="margin-left: 20px; cursor: pointer;" v-if="latestArticles.length>0">
										<article-card v-bind:labels="labels" v-bind="latestArticles[0]" @click.native="toArticle(latestArticles[0].id)"></article-card>
									</i-col>
									<i-col :xs="0" :sm="0" :md="11" :lg="11" :xl="7" style="margin-left: 10px; cursor: pointer;" v-if="latestArticles.length>1">
										<article-card v-bind:labels="labels" v-bind="latestArticles[1]" @click.native="toArticle(latestArticles[1].id)"></article-card>
									</i-col>
									<i-col :xs="0" :sm="0" :md="0" :lg="0" :xl="7" style="margin-left: 10px; cursor: pointer;" v-if="latestArticles.length>2">
										<article-card v-bind:labels="labels" v-bind="latestArticles[2]" @click.native="toArticle(latestArticles[2].id)"></article-card>
									</i-col>
								</row>
							</div>
							
							<div style="padding-bottom: 40px;">
								<row class="mb10">
									<i-col :xs="12" :sm="8" :md="7" :lg="6" :xl="5" style="border-bottom: 3px solid #15cde1;font-size: 35px;">
										系列专题
									</i-col>
									<i-col span="2" offset="15" style="padding-top: 20px;">
										<i-button shape="circle" @click="series_list">
											更多<icon type="ios-arrow-forward" size="16"></icon>
										</i-button>
									</i-col>
								</row>
								<row class="mb10">
									<i-col :xs="23" :sm="23" :md="11" :lg="11" :xl="7" style="margin-left: 20px; cursor: pointer;" v-if="latestSeries.length>0">
										<series-card v-bind="latestSeries[0]" @click.native="articleListBySeries(latestSeries[0].id)"></series-card>
									</i-col>
									<i-col :xs="0" :sm="0" :md="11" :lg="11" :xl="7" style="margin-left: 10px; cursor: pointer;" v-if="latestSeries.length>1">
										<series-card v-bind="latestSeries[1]" @click.native="articleListBySeries(latestSeries[1].id)"></series-card>
									</i-col>
									<i-col :xs="0" :sm="0" :md="0" :lg="0" :xl="7" style="margin-left: 10px; cursor: pointer;" v-if="latestSeries.length>2">
										<series-card v-bind="latestSeries[2]" @click.native="articleListBySeries(latestSeries[2].id)"></series-card>
									</i-col>
								</row>
							</div>
						</i-content>
						<i-footer style="text-align: center;background-color: #fff;color: #999;">
							<p>
								<poptip trigger="hover">
									<img width="25px" src="/frontend/static/img/qq.png" style="cursor: pointer;" title="加我QQ">
									<img width="200px" src="/frontend/static/img/qqrcode.jpg" slot="content" />
								</poptip>
								<poptip trigger="hover">
									<img width="25px" src="/frontend/static/img/wechat.png" style="cursor: pointer;" title="加我微信">
									<img width="200px" src="/frontend/static/img/wcrcode.png" slot="content" />
								</poptip>
							</p>
							<p>© 2020 XSite</p>
						</i-footer>
					</layout>
				</div>
				
			</layout>

		</div>

		<template id="article-card">
			<Tooltip theme="light" placement="bottom-end" style="width: 100%;">
				<Card icon="ios-paper-outline" style="height: 255px; ">
					<p slot="title" v-text="title&&title.length>20?title.substring(1,20)+'...':title" :title="title" style="font-size: 20px;"></p>
					<p slot="extra" v-text="create_datetime?create_datetime.split('T')[0]:'---'"></p>
					<p v-text="summary" style="font-size: 16px;"></p>
				</Card>
				<div slot="content">
					<div>
						<icon type="md-eye" size="20" color="#5cadff"></icon> <span v-text="read_num"></span>
						<icon type="md-thumbs-up" size="20" color="#ff9900" style="margin-left: 10px;"></icon> <span v-text="like_num"></span>
						<icon type="ios-chatbubbles" size="20" color="#19be6b" style="margin-left: 10px;"></icon> <span v-text="comment_num"></span>
					</div>
					<div style="width: 210px;word-break: break-all;white-space: normal;">
						<icon type="md-pricetag" size="18" color="#515a6e"></icon>
						<Tag color="green" v-for="label in labels" v-if="label.article_id == id" v-text="label.name" :key="label.id"></Tag>
					</div>
				</div>
			</Tooltip>
		</template>
		
		<template id="series-card">
			<div class="series-card" :style="{backgroundImage: bgi_url?'url('+bgi_url+')':'url()'}">
				<span class="autosize" style="margin: auto; text-align: center;" v-text="name"></span>
				<span class="series-menu" v-text="'文章数：'+article_num"></span>
			</div>
		</template>

		<script src="/frontend/static/js/index.js"></script>

	</body>
</html>
